[submodule "third_party/flecs"]
	path = third_party/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
